{
  "extends": [
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "import",
    "prettier",
    "@typescript-eslint"
  ]
}
